h1{
    color: #f00;
    background-color: papayawhip;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
nav{
    text-align: right;
    background-color: rgb(188, 212, 231);
    font-size: x-large;
    font-family: cursive;
}
h2{
    background-color: rgb(200, 245, 133);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 32px;
    color: rgb(2, 85, 50);
}
section{
    font-size: 24px;
}
